body {
    background: url(./bg.jpg) repeat center center;
    margin: 3rem;
    font-family: "Montserrat", sans-serif;
}

.content {
    max-width: 800px;
    background: #000;
    border: #f00 0.8rem ridge;
    margin: 2rem auto;
    color: #fff;
    padding: 1rem 2rem;
}

h1, h2 {
    text-align: center;
}

a {
    color: #f66;
}

a:hover {
    color: #faa;
}

table {
    color: #fff;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: #f00 0.3rem ridge;
    padding: 0.5rem;
}